@import url('https://fonts.googleapis.com/css?family=Lato');

#root {
  width: 100%;
}

.App {
  text-align: center;
  margin: 0 auto;
}

body {
  display: flex;
  background-color: #333;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
}

small {
  font-size: 12px;
  color: #888;
}

form {
  display: flex;
  flex-direction: column;
}

input:not([type]), input[type="text"] {
  font-size: 22px;
  height: 30px;
}

.Btn {
  margin-top: 20px;
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
  border: 1px solid #ffffff;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.Btn:hover {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #ffffff;
}

